<div class="container">

  <footer class="footer">

  <small>

    Copyright © <a href="enter in a link here">E2Disign</a>

    by <a href="https://www.linkedin.com/in/egor-sidorov-19b2b5b3/">Egor Sidorov</a>

  </small>

  <nav>

  <ul>


  </ul>

  </nav>

</footer>

</div>
