<div id="notice_wrapper">
<div class="container">

<% flash.each do |name, msg| %>
    <div class="alert alert-warning">
      <li><%= msg %></li>
    </div>
<% end %>

</div>
</div>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice_wrapper').fadeOut("slow", function() {

      })
    }, 2500);
  });
</script>
